<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="JihelLibrary RBTree test suite">
            <directory suffix="Test.php">./src/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./src/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
